# Dependency directories
node_modules/

# Compiled code
/build
/public/build

# dotenv environment variable files
.env*

# Test files
/cypress/screenshots
/cypress/videos

# Database files
/prisma/data.db
/prisma/data.db-journal

# Compiled tailwindcss
/app/styles/tailwind.css

# Mac files
.DS_Store

# Tom - temp content folder
/app/content/

